In [8]:
import pandas as pd
import glob
import numpy as np
import keras as k

In [11]:
DIRPATH = '/content/drive/MyDrive/Colab Notebooks/'
corona = pd.read_csv(DIRPATH + 'corona.csv')

In [15]:
corona

     Temperature  bpain  age  runnyNose  diffBreadth  infProb
0     101.749837      0   54          0           -1        0
1     100.954371      0   32          0            1        1
2     101.632166      1   19          1           -1        1
3     100.333615      0   76          1           -1        1
4     101.628520      0   16          1            0        0
..           ...    ...  ...        ...          ...      ...
193    99.909967      1   98          1            0        1
194   101.596570      0   70          0            0        1
195    99.520533      0   63          0           -1        0
196    99.782519      0    1          0            1        1
197    98.948364      0   77          0            1        0

[198 rows x 6 columns]